NEXT_PUBLIC_CHAIN_ID=421614
NEXT_PUBLIC_PRIVATE_GRANT_VAULT_ADDRESS=
NEXT_PUBLIC_DEFAULT_ERC20_ADDRESS=
NEXT_PUBLIC_DEFAULT_CONFIDENTIAL_TOKEN_ADDRESS=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
CHAINGPT_API_KEY=
RPC_URL_ARBITRUM_SEPOLIA=
PRIVATE_KEY=
